# .env.example
# URL base para las consultas GraphQL a Backend
VITE_BACKEND_GRAPHQL_URL=

# Identificador de entorno (local, development, qa o production)
VITE_ENV=

# Tiempo de expiración de token en minutos (default: 30)
VITE_TOKEN_EXPIRATION_TIME=30
